table {
    border-collapse: collapse;
    display: inline-block;
  }
  
  table, td, tr {
    border: 1px solid black;
  }

 td  {
     width: 100px;
     height: 100px;

 } 
 table:hover {
   cursor: pointer;

 }
 #playGround{
   text-align: center;
 }
header{

    text-align: center;
    height: 50px;
    font: 30px Arial, sans-serif;
}
#buttons {
  text-align: center;
}
button {
  display: inline-block;
}