$themes: (
  light: (
    color:#f6cd61 ,
    backgroundColor:  #fe8a71,
    textColor: #202020,
    buttonTextColor: #fe8a71,
    buttonTextTransform: none,
    buttonTextHoverColor:#f57254,
    buttonColor: #f6cd61,
    answerColor: #666666,
  ),
  dark: (
    color: #f57254,
    backgroundColor:#4a4e4d,
    textColor:  #3da4ab,
    buttonTextColor:  #3da4ab,
    buttonTextTransform: uppercase,
    buttonTextHoverColor:  #55d4dd,
    buttonColor: #fe8a71,
    answerColor:  #f6cd61,
  ),
);