$themes: (
  light: (
    backgroundColor:  #3da4ab,
    textColor:#fe8a71,
    buttonTextColor: #fe8a71,
    buttonTextTransform: none,
    buttonTextHoverColor:#f57254,
    buttonColor: #f6cd61,
    buttonBorder: 2px solid #4a4e4d,
  ),
  dark: (
    backgroundColor:#4a4e4d,
    textColor:  #3da4ab,
    buttonTextColor:  #3da4ab,
    buttonTextTransform: uppercase,
    buttonTextHoverColor:  #55d4dd,
    buttonColor: #fe8a71,
    buttonBorder: 1px solid #f6cd61,
  ),
);